*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background-color:#5191c110;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 500px;
    height: 250px;
    margin: 0 auto;
}

.modo-dark{
    background-color:#12223c !important;
    color: #fff
}

.box-menu{
    display:flex;
    justify-content: space-around;
    border-radius: 10px;
    padding:10px;
    background-color:#5191c110;
    margin-bottom: -30px;
}

.menu-despertador, .menu-temporizador, .menu-cronometro{
    cursor: pointer;
}

.box-relogio{
    width:100%;
    height:100%;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color:#fff;
}

.dark-mode{
    width: 40px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 450px;
    background-color:#5191c110;
    border-radius: 100%;
    padding: 8px;
    cursor:pointer;
}

.dark-mode ion-icon{
    width: 100%;
    height: 100%;
}

.relogio-hora, .relogio-minutos, .relogio-segundos{
    font-size: 55px;
    background-color:#5191c110;
    margin:10px;
    padding:10px;
    border-radius: 10px;
}

.relogio-dois-pontos{
    font-size: 55px;
}

/* .escondido{
    display:none;
} */